:root {
	--color-base: rgb(0, 60, 255);
	--color-text-link: rgb(65, 65, 65);
}

header {
	background-color: #fff;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
}

.nav-bar__logo {
	font-size: 1.8rem;
	font-weight: 600;
	color: rgb(0, 1, 34);
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-bar__logo .icon {
	color: var(--color-base);
}

.menu-link {
	display: block;
	padding: 1rem;
	font-size: 1.2rem;
	color: var(--color-text-link);
	text-shadow: 0 0 1px var(--color-text-link);
	transition: 0.2s;
}

.active .menu-link {
	color: var(--color-base);
	text-shadow: 0 0 1px var(--color-base);
}

.menu-link:hover {
	color: var(--color-base);
	text-shadow: 0 0 1px var(--color-base);
}

.nav-bar__menu {
	display: flex;
	flex: 0.9;
}

.nav-bar__menu .menu {
	display: flex;
	list-style: none;
}
